//  *
//     padding: 0
//     margin: 0
@font-face 
    font-family: amatic
    src: url(\public\fonts\Amatic_SC/AmaticSC-Bold.ttf)
  
nav
    position: fixed
    top: 0
    display: flex
    width: 100vw
    background-color: white
    align-items: center
    justify-content: space-between
    padding:4vh 4vw
    z-index: 9999
    h2
        font-size: 40px
        color: black
        
        span
            color:  rgb(213, 53, 53) 
        
    .links-button
        display: flex
        align-items: center
        gap: 4vw
        .links
            display: flex
            align-items: center
            gap: 3vw
            .a1
                position: relative
                text-decoration: none
                color: rgb(110, 110, 115)
                transition: 0.3s
                &::after
                    position: absolute
                    content: ""
                    background-color: rgb(213, 53, 53)
                    height: 2px
                    width: 0
                    left:   0
                    bottom: -2px
                    transition: 0.3s

                &:hover::after
                    width: 100%
                    transition: 0.3s          
                    
        label
            i
                color: white
                font-size: 25px
    .btn1
        background-color: rgb(213, 53, 53)
        color: white
        border: none
        border-radius: 20px
        padding: 7px 2vw
        transition: 0.3s
        &:hover
            opacity: 0.9



          

.modal
    display: none 
    position: fixed 
    background-color: rgba(0,0,0,0.7) 

.modal-content
    margin: 90px auto
    padding: 20px
    border: 1px solid #888
    max-width: 400px
    border-radius: 15px
    position: relative
.close
    color: #aaa
    float: right
    font-size: 28px
    font-weight: bold
    position: absolute
    top: 5px
    right: 10px
    &:hover,
    &:focus
        color: #000
        text-decoration: none
        cursor: pointer

form
    display: flex
    flex-direction: column
    gap: 3vh

    input
        padding: 10px
        font-size: 16px
        border: 1px solid #ddd
        border-radius: 5px

    button
        padding: 10px
        background-color: #ff4d4d
        color: white
        border: none
        border-radius: 15px
        cursor: pointer
        font-size: 16px
        &:hover
            background-color: #e23333

.div , .formm
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0 , 0.19)

#check
    display: none
.menu , .closee
    display: none




@media  ( max-width: 430px )
     nav
        .links-button
            .links
                display: none
                position: fixed
                width: 90vw
                top: 90px
                left: 5vw
                right: 20%
                bottom: 50%
                flex-direction: column
                gap: 3vh
                
                border-radius: 10px
                background-color: grey
                justify-content: start
                align-items: start
                padding: 5vh 0 5vh 5vw
                .a1
                    color: white
        .menu 
            display: flex

   

