.section1
    margin-top: 10vh
    background-color: rgb(242, 242, 242)
    display: flex
    justify-content: space-between
    align-items: center
    padding:10vh 4vw
    .h1p
        display: flex
        flex-direction: column
        gap: 2vh
    h1
        width: 33vw
    p
        width: 29vw
    .buttons
        display: flex
        gap: 4vw
    .btn2
        background-color: rgb(213, 53, 53)
        color: white
        border: none
        border-radius: 20px
        padding: 7px 2vw
        transition: 0.3s
        &:hover
            opacity: 0.9
    .btn3
        background-color: transparent
        font-weight: 600
        border: none
        transition: 0.3s
        position: relative
        &:hover 
            color: rgb(213, 53, 53)
        i
            position: absolute
            color: rgb(213, 53, 53)
            left: -35%
            top: -19%
            font-size: 35px
        
    @keyframes up-down
        0%
            transform: translateY(0)
        100%
            transform: translateY(25px)
    .move
        animation: up-down 2s  infinite alternate-reverse both